body {
  background-color: #E6E6FA;
  font-family: "Palatino Linotype";
}
h1 {
  color: blue;
  background-color: ##FAF0E6
  border: 1px solid #483D8B;
}
p {
  color: red;
  padding: 30px;
  margin: 50px;
}
#top {
    background-color: #FFB6C1;
    padding: 20px
    }

.button {
      color: #FFF;
      background-color: #5995DA;
      font-weight: bold;
      padding: 20px;
      text-align: center;
      border: 2px solid #5D6063;
      border-radius: 5px;

      width: 200px;
      margin: 20px auto;
    }
