body {
  background-color: #E6E6FA;
  font-family: "Didot";
}
h1 {
  color: #FFB6C1;
  font-weight: bold;
  background-color: ##FAF0E6
  border: 1px solid #483D8B;
}
p {
  color: #2C4CB6;
  padding: 30px;
  margin: 50px;
}
#top {
    background-color: #FADB3E;
    padding: 20px
    }

.button {
      color: #FFF;
      background-color: #5995DA;
      font-weight: bold;
      padding: 20px;
      text-align: center;
      border: 2px solid #5D6063;
      border-radius: 5px;

      width: 200px;
      margin: 20px auto;
    }

    .special_ul li{
        padding-right: 10px;
        list-style-type: none;
        display: inline-block;
        text-align: center;
    }

    .special_ul li img , .special_ul li a{
        display:block;
    }
